<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link href="style.css">
</head>

<body>
<div th:insert="fragments/_header :: header"></div>

<img class="center" th:src="@{/img/github-mark-white.png}" alt="Github Icon" style="background-color: black">
<h5><i>(image from <a target="_blank" href="https://github.com/">GitHub</a>)</i></h5>

<p>I like to push some of my more professional projects to GitHub as it is my git repository of choice. Below is a list of repositories I am contributing to, as well as a list of all the repositories in my account.</p>
<p>Java: 2-Axis-Arm-Client | Stars: 1</p>
<p>null: 42null | Stars: 1</p>
<p>Java: 42null-SEPIA-Extensions | Stars: 1</p>
<p>HTML: 42null.github.io | Stars: 1</p>
<p>Java: AOATE | Stars: 1</p>
<p>Python: CameraCtrl-F-Python-Singular-Version | Stars: 1</p>
<p>JavaScript: Conways-Game-Of-Life | Stars: 1</p>
<p>JavaScript: IOgameAttemp1a | Stars: 1</p>
<p>Java: Java-Chunk-Simulation | Stars: 1</p>
<p>JavaScript: Return-YouTube-UI | Stars: 1</p>
<p>Shell: Untedious | Stars: 1</p>
<p>Java: CS108-Android-Java-App | Stars: 0</p>
<p>HTML: SpringBootAsighnment | Stars: 0</p>
<p>null: starter-snake-java | Stars: 0</p>
<p>Java: Un-optimized-Java-Conway-s-Game-of-Life | Stars: 0</p>


<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>