<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<body>
<div th:insert="fragments/_header :: header"></div>

<img src="https://picsum.photos/id/870/800/300?grayscale&blur=2" alt="Random Greyscaled Blur Image" width="100%">
<h5><i>(image from <a target="_blank" href="https://picsum.photos/">Lorem Picsum</a>)</i></h5>

<p>
<h1>I am AJ Memmel</h1>
</p>
<h2>And I'm a Software Engineer (among other things)</h2>
<p>
    This site is currently under development, while much of it is compleate, new sections are still being added, click here to see and change what souce you are on.
</p>
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>